<div class="card">
  <div class="card-body">
    <app-base-table [title]="'Dropdown Values List'" [subtitle]="'Manage Dropdown Values'" [resourceName]="'Dropdown Value'"
      [filterColumns]="filterColumns" [tableColumns]="tableColumns" [fetchData]="fetchtablerecords"
      [getEditFormFields]="getEditFields" [getViewFields]="getViewFields" [updateItem]="updateDropdownValue"
      [deleteItem]="deleteDropdownValue" [addNavigateTo]="goToAdd" [showExport]="false" ></app-base-table>
  </div>
</div>