<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <!-- Total Purchases Invoices -->
      <div class="col-xl-3 col-sm-6 col-12 d-flex" *ngFor="let table of tables">
        <div class="dash-count">
          <div class="dash-counts">
            <h4 class="table-name" (click)="navigateToTable(table.id)" style="cursor: pointer;">
              {{ table.title }}
            </h4>
            <h5 class="fw-bold">{{ table.description }}</h5>
          </div>
          <div class="dash-imgs" (click)="navigateToTable(table.id)" style="cursor: pointer;">
            <i class="fa fa-file" style="color: var(--primary-color);"></i>
          </div>
        </div>
      </div> 
    </div> 
  </div>
</div>